.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 32px;
}

.list {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.menu-mobile {
    background-image: url('../../assets/images/icon-menu.svg');
    height: 17px;
    display: none;
    width: 40px;
}

.list__link {
    color: inherit;
    text-decoration: none;
    transition: .5s;
}

.list__link:hover {
    color: hsl(35, 77%, 62%);
}

@media screen and (max-width: 575px) {

    .header {
        margin: 16px;
    }

    .list {
        display: none;
    }

    .menu-mobile {
        display: flex;
    }
}